@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.todo-app {
  margin: 2rem auto 0 auto;
  max-width: 600px;
  width: 90%;
}

.top-panel {
  margin: 1rem 0;
}
